{%extends 'main/base.html'%}
{% load bootstrap3 %}
{% load static %}

{% block styles %}
{{ block.super }}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/signup.css'%}">

{% endblock %}

{% block content  %}

<div class="container">
<div class="car">

<h2 style="">Sign up</h2>
  <form method="post" class="form-horizontal" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form%}
  </form>
    <div class="bottom">
    <button type="submit">Sign up</button>
  </div>
  <a class='btn btn-default' href="/accounts/login">Login</a>
</div>
</div>
{% endblock %}
{% block scripts %}
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
       {% bootstrap_javascript %}
      {% endblock %}
